html, body{
    height: 100%;
}
#sidebar-wrapper{
    background-color: #062345;
    height: 100%;
    color: white;
    padding-top: 20px;
}
header{
    background-color: #064479;
    height: 60px;
    padding-top: 10px;
}
.group-name > h1{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20pt;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.search >input{
    border-radius: 10px;
    background-color: rgba(10,50,80,0.8);
    height: 30px;
    color: white;
    border: none;
    width: 500px;
    font-size: 12pt;
}
#logout{
    color: white;
    font-size: 12pt;
}
.row > div{
    overflow: auto;
}
.row :nth-child(even){
    background-color: #2F3C71;
}
.row :nth-child(odd){
    background-color: #3E4468;
}
.list-group-item .btn-danger:hover {
    background-color: #c12e2a;
}
.list-group-item .btn-success:hover {
    background-color: #419641;
}